{% extends 'Tienda_app/base_tienda.html' %}
{% load static %}

{% block title %} Iniciar sesion {% endblock title %}

{% block main %}

<div class="container mt-5">
    <h2 class="mb-4">Carrito de Compras</h2>

    {% for disco in discos %} 
    <table class="table">
        <thead>
            <tr>
                <th>{{ disco.nombre }}</th>
                <th> {{ disco.autor }}</th>
                <th>{{ disco.año }}</th>
                <th>${{ disco.precio }}</th>
            </tr>
        </thead>
        
    </table>

    {% endfor %}
    
    <div class="text-end">
        <p>Total: ${{ total }}</p>
        <a href="{% url 'Fcarrito' %}" class="btn btn-primary">Finalizar Compra</a>
    </div>



{% endblock %}