{% extends 'Tienda_app/base_tienda.html' %}
{% load static %}

{% block title %} Iniciar sesion {% endblock title %}

{% block main %}

<div class="container mt-5">
    <h2 class="mb-4">Carrito de Compras</h2>

    {% for producto, cantidad in productos_carrito %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ producto.nombre }}</th>
                <th>{{ producto.autor }}</th>
                <th>{{ producto.año }}</th>
                <th>${{ producto.precio }}</th>
                <th>Cantidad: {{ cantidad }}</th>
            </tr>
        </thead>
    </table>
    {% endfor %}
    
    <div class="text-end">
        <p>Total: ${{ total }}</p>
        <a href="{% url 'Fcarrito' %}" class="btn btn-dark">Finalizar Compra</a>
    </div>
    
{% endblock %}