{% extends 'Tienda_app/base_blog.html' %}
{% load static %}

{% block section1 %}

<div class="container">
    <h1 class="my-4">NoVeDaDeS dE lA MuSiCa</h1>

    <div class="row align-items-stretch">
        <div class="col-md-4">
            <div class="card mb-4 d-flex">
                <img src="{% static 'Tienda_app/assets/img/angelusapartida.jpg' %}" class="card-img-top" alt="Entrevista 1">
                <div class="card-body flex-fill">
                    <h5 class="card-title">Angelus Apartida</h5>
                    <p class="card-text">"El disco tan esperado..."</p>
                    <a href="https://www.todoheavymetal.com/" class="btn btn-dark">Quiero más</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 d-flex">
                <img src="{% static 'Tienda_app/assets/img/roger.jpg' %}" class="card-img-top" alt="Entrevista 3">
                <div class="card-body flex-fill">
                    <h5 class "card-title">Roger Waters</h5>
                    <p class="card-text">Su gira de despedida...</p>
                    <a href="https://blog.ticketmaster.es/post/roger-waters-anuncia-su-gira-de-despedida-para-2023-32964/" class="btn btn-dark">Quiero más</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 d-flex">
                <img src="{% static 'Tienda_app/assets/img/iron.jpg' %}" class="card-img-top" alt="Entrevista 2">
                <div class="card-body flex-fill">
                    <h5 class="card-title">Iron Maiden</h5>
                    <p class="card-text">Bruce Dickinson nos comparte un secreto...'</p>
                    <a href="https://www.am.com.mx/espectaculos/2023/10/18/bruce-dickinson-vocalista-de-iron-maiden-comparte-como-ser-un-rockstar-de-los-negocios-680286.html/" class="btn btn-dark">Quiero más</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}