{% extends 'Tienda_app/base_tienda.html' %}

{% load static %}

{% block title %} Lista Discos {% endblock title %}

{% block main %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="logout-container text-center text-lg">
                <h1>QuE OtRo DiSfRuTe Tu MuSiCa</h1>
                <br>
                <br>
                <br>
                
                <a href="{% url 'DiscoCreate' %}" class="btn btn-dark">Vender disco</a>
                <a href="{% url 'DiscoList' %}" class="btn btn-dark">Ver mis discos</a>
                
                
            </div>
        </div>
    </div>
</div>

{% endblock main %}

