{% extends 'Tienda_app/base_tienda.html' %}

{% load static %}

{% block title %} Lista Discos {% endblock title %}

{% block main %}


<div class="row text-center mt-4">
    <br>
    <br>
    <br>
    <h1>TuS DiScOs</h1>
    <br>
    <br>
    
    {% for disco in object_list %}
        <div class="card" style="width: 18rem;" >
            
            <div class="card-body">
                {% if disco.imagen %}
                    <img src="{{disco.imagen.url}}" class="card-img-top" alt="...">
                {% endif %}
                <h5 class="card-title">{{ disco.nombre }}</h5>
                <p class="card-text">Artista: {{ disco.autor }}</p>
                <p class="card-text">Año: {{ disco.año }}</p>
                <p class="card-text">Precio: {{ disco.precio }}</p>
                <a href="{% url 'DiscoDetail' disco.id %}" class="btn btn-dark">Ver</a>
                <a href="{% url 'DiscoUpdate' disco.id %}" class="btn btn-dark">Editar</a>
                <a href="{% url 'DiscoDelete' disco.id %}" class="btn btn-dark">Borrar</a>
            </div>
        </div>
    {% endfor %}
</div>

<a class="btn btn-dark btn-xl rounded-pill mt-5" href="{% url 'DiscoCreate' %}">Agregar nuevo</a>

{% endblock main %}