{% extends 'Tienda_app/base_tienda.html' %}
{% load static %}

{% block title %} Editar disco {% endblock title %}

{% block content %}

<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="login">
                <h1>EdItA Tu DiScO</h1>

                <form action="" method="POST" class="mt-4">
                    
                    <form action="" method="POST" class="form-signin">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre }}
                        </div>
                        
                        <div class="form-group">
                            {{ form.autor.label_tag }}
                            {{ form.autor }}
                        </div>
                        
                        <div class="form-group">
                            {{ form.año.label_tag }}
                            {{ form.año }}
                        </div>
                        
                        <div class="form-group">
                            {{ form.descripcion.label_tag }}
                            {{ form.descripcion }}
                        </div>
                        <div class="form-group">
                            {{ form.precio.label_tag }}
                            {{ form.precio }}
                        </div>
                        
                        <button type="submit" class="btn btn-dark btn-block">Actualizate</button>
                    </form>
                
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}