{% extends 'Tienda_app/base_tienda.html' %}
{% load static %}

{% block title %} formulario {% endblock title %}

{% block content %}

<br>

<div class="container mt-4">
    <div class="card">
        {% if disco.imagen %}
            <img src="{{ disco.imagen.url }}" class="card-img-top" alt="Disco">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ disco.nombre }}</h5>
            <p class="card-text">Artista: {{ disco.autor }}</p>
            <p class="card-text">Año: {{ disco.año }}</p>
            <p class="card-text">Descripción: {{ disco.descripcion }}</p>
            <p class="card-text">Precio: {{ disco.precio }}</p>
            <p class="card-text">Creado: Creado por,{{ disco.precio }}</p>
        </div>
    </div>
</div>

{% endblock content %}

