{% extends 'Tienda_app/base_tienda.html' %}

{% load static %}

{% block title %} edit user {% endblock title %}

{% block main %}
    
<div class="container mt-4">
    <div class="text mt-4">
        <h1 class="text-center">EdItA TuS DaToS</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            {{ miFormulario.as_table }}
        </table>
            <button type="submit" class="btn btn-dark">Actualizar</button>
    </form>
</div>

{% endblock main %}