{% extends 'Tienda_app/base_tienda.html' %}
{% load static %}

{% block title %} Iniciar sesion {% endblock title %}

{% block main %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login">

                <form action="" method="POST" class="mt-4">
                    
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark">Iniciar sesión</button>
                
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}



