{% extends 'Tienda_app/base_tienda.html' %}
{% load static %}

{% block title %} formulario {% endblock title %}

{% block main %}

<div class="container">
    <h1 class="my-4">DiScOs a La VeNtA</h1>

    <div class="row">
        {% for disco in discos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ disco.nombre }}</h5>
                        <p class="card-text"><strong>Artista:</strong> {{ disco.autor }}</p>
                        <p class="card-text"><strong>Año:</strong> {{ disco.año }}</p>
                        <p class="card-text"><strong>Precio:</strong> ${{ disco.precio }}</p>
                        <a href="#" class="btn btn-dark">Añadir al Carrito</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock main %}

