{% extends 'Tienda_app/base_tienda.html' %}
{% load static %}

{% block section1 %}

<style>
.centered-title {
    text-align: center; /* Centrar el texto */
    background-color: #818b96; /* Cambiar el fondo a azul (puedes usar otro color) */
    color: #fff; /* Cambiar el color del texto a blanco */
    padding: 20px; /* Espacio interno para que el texto no esté pegado al borde */
}
</style>

<div class="row">
    <h1>NuEsTrA TiEnDa A tUs MaNos</h1>
    {% for disco in discos %}
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'ruta/imagen.jpg' %}" class="card-img-top" alt="{{ disco.nombre }}">
          <div class="card-body">
            <h5 class="card-title">{{ disco.nombre }}</h5>
            <p class="card-text">Artista: {{ disco.autor }}</p>
            <p class="card-text">Año: {{ disco.año }}</p>
            <p class="card-text">Precio: ${{ disco.precio }}</p>
            <a href="{% url 'Carrito' %}" class="btn btn-dark">Añadir al Carrito</a>
            <a href="{% url 'DiscoDetail' disco.id %}" class="btn btn-dark">Ver</a>
          </div>
        </div>
      </div>
    {% endfor %}
  
{% endblock %}



